.w-15 {
    width: 15%;
}

.w30{
    width: 30px;
}

.flex-direc-row {
    flex-direction: row;
}

.btn-red {
    background-color: rgb(205, 53, 31);
    color: white;
}

.btn-red:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 0, 24, 0.5);
}

.hover-white:hover {
    color: white !important;
}

.b-1 {
    border: 1px solid #e9ecef;
    border-top: 1px solid #e9ecef !important;
}

.mw-10 {
    max-width: 10% !important;
}

.b-none {
    border: none !important;
}

.color-white {
    color: white;
}

.fs-20 {
    font-size: 20px;
}

.fs-12 {
    font-size: 12px;
}

.c-red {
    color: #cd351f;
}

[class*='height-'] {
    display: block !important;
}

.swal2-popup {
    max-width: 25em !important;
    border-radius: 1.3125em !important;
}

.swal2-title {
    font-size: 1.7em !important;
}

.swal2-styled.swal2-confirm {
    border-radius: 1.4em !important;
    background: -moz-linear-gradient(16deg, #FFC107 0%, #ff721f 40%, #FF9800 100%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(16deg, #FFC107 0%, #ff721f 40%, #FF9800 100%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(16deg, #FFC107 0%, #ff721f 40%, #FF9800 100%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.btn-custom {
    color: white;
    border: none;
    border-radius: .5em;
    background: -moz-linear-gradient(50deg, #fa7f2b -27%, #f13d3c 57%, #559ef7 121%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(50deg, #fa7f2b -27%, #f13d3c 57%, #559ef7 121%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(50deg, #fa7f2b -27%, #f13d3c 57%, #559ef7 121%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.btn-custom:hover,.btn-custom2:hover {
    color: white;
}

.btn-custom2 {
    color: white;
    border: none;
    border-radius: .5em;
    background: linear-gradient(50deg, #4658d8 -27%, #3e93dc 57%, #559ef7 121%) !important;
}

.br-dot2 {
    border-radius: .25em !important;
}

.h-2 {
    height: 2.5em;
}

.w-8 {
    width: 8em;
}

.c-pointer {
    cursor: pointer;
}

.btn-twitter {
    background-color: rgb(1, 174, 239);
    border-color: rgb(1, 174, 239);
}

.btn-instagram{
    background-color: rgb(220, 53, 69);
    border-color: rgb(220, 53, 69);
}

.btn-facebook {
    background-color: rgb(69, 97, 156);
    border-color: rgb(69, 97, 156);
}

.color-grey {
    color: #6c757d;
}

.w-80 {
    width: 80%;
}

.gradient-color {
    background: -moz-linear-gradient(16deg, #fff 0%, #f1f1f1 40%, #ffffff 100%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(16deg, #fff 0%, #f1f1f1 40%, #ffffff 100%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(16deg, #fff 0%, #f1f1f1 40%, #ffffff 100%) !important;
}

.custom-border {
    border-radius: 20% 0;
}

.noClick {
    pointer-events: none;
}

.ml-18 {
    margin-left: 18%;
}

.h100 {
    height: 100%;
}

.h50 {
    height: 50px;
}

.flex-direction-column {
    flex-direction: column;
}

.cstm-placeholder::placeholder {
    text-align: center;
    font-size: medium;
}

.zindex-1{
    z-index: 1;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.flex5 {
    flex: 5;
}

.t-30{
    top: 30px;
}

.r-40{
    right: 40px;
}

.color-orange{
    color: #f57709;
}

.disable-white{
    background-color: white !important;
}

.r-3{
    right: 3em;
}

.b-1{
    border-bottom: 1px solid #efefef;
}

.fs-1{
    font-size: 0.9em;
}

.fw-500{
    font-weight: 500;
}

.noteStyle{
    padding: 10px;
    background-color: #ffed4d;
    color: #333449;
    border-radius: 10px;

}

.welSec[class*='height-'] {
    display: flex !important;
}

.width-fit-content{
    width: fit-content;
}

@media only screen and (max-width: 600px) {
    .mobile-column-reverse {
        flex-direction: column-reverse;
    }
}