.w-15 {
    width: 15%;
}

.flex-direc-row {
    flex-direction: row;
}

.btn-red {
    background-color: #cd351f;
    color: white;
}

.btn-red:focus {
    box-shadow: 0 0 0 0.2rem rgba(225, 0, 24, 0.5);
}

.hover-white:hover {
    color: white !important;
}

.b-1 {
    border: 1px solid #e9ecef;
    border-top: 1px solid #e9ecef !important;
}

.mw-10 {
    max-width: 10% !important;
}

.b-none {
    border: none !important;
}

.color-white {
    color: white;
}

.fs-20 {
    font-size: 20px;
}

.fs-12 {
    font-size: 12px;
}

.c-red {
    color: #cd351f;
}

[class*='height-'] {
    display: block !important;
}

.swal2-popup {
    max-width: 25em !important;
    border-radius: 1.3125em !important;
}

.swal2-title {
    font-size: 1.7em !important;
}

.swal2-styled.swal2-confirm {
    border-radius: 1.4em !important;
    background: -moz-linear-gradient(16deg, #FFC107 0%, #ff721f 40%, #FF9800 100%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(16deg, #FFC107 0%, #ff721f 40%, #FF9800 100%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(16deg, #FFC107 0%, #ff721f 40%, #FF9800 100%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.btn-custom {
    color: white;
    border: none;
    border-radius: .5em;
    background: -moz-linear-gradient(16deg, #2167d2 0%, #1b7bce 40%, #55acf7 100%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(16deg, #2167d2 0%, #1b7bce 40%, #55acf7 100%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(16deg, #2167d2 0%, #1b7bce 40%, #55acf7 100%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.btn-custom:hover{
    color: white;
}
.h-2{
height: 2.5em;
}

.w-8 {
    width: 8em;
}

.c-pointer{
    cursor: pointer;
}

.btn-twitter {
    background-color: #01aeef;
    border-color: #01aeef;
}

.btn-facebook {
    background-color: #45619c;
    border-color: #45619c;
}

.color-grey {
    color: #6c757d;
}

.w-80{
    width: 80%;
}